/*font-family: 'PT Serif', serif;
font-family: 'Dosis', sans-serif;*/

footer {
	background-color: black;
	text-align: center !important;
}
.eco {
	color: yellow !important;
	text-decoration: underline; 
}
.lima {
	background-color: black !important;
}
.alfa {
	color: black !important;
	font-size: 20px;
	text-align: justify;
}
.beta{
	margin-bottom: 40px;
}
.oscar { 
	height: 50px;
}
.indian {
	color: black;
	font-family: initial;	
	font-size: 27px;
}
p {
	margin-bottom: none;
	text-indent: 5px;
}

	
body {
	background-image: url(../img/fondos/memphis-mini.png); 
	font-family: 'Dosis', sans-serif;
}
h1, h2, h3, h4{
  text-align: center;
  font-family: 'PT Serif', serif;
}
.sof{
	width: 100%;
	margin-bottom: 10px;
}
.cai{
	width: 50%; 
	margin-top: 10px; 
	margin-bottom: 15px; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}